html, body{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 100px;
}

/*Latihan 1*/
.container-satu{
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    background-color: lightblue;
}

.kolom-utama{
    order: 2;
    flex: 2;
}

.sidebar-satu{
    order: 1;
    flex: 1;
}

.sidebar-dua{
    order: 3;
    flex: 1;
}